In [1]:
import numpy as np 
import pandas as pd

In [2]:
df=pd.read_csv('ScoreMatrix1.csv')
df

,0,1,2,3,4,5,6,7,8,9,...,90,91,92,93,94,95,96,97,98,99
0,0,91,94,73,97,91,39,92,14,40,...,82,82,73,65,90,43,92,93,84,41
1,0,0,24,97,27,21,68,5,87,69,...,53,49,95,89,3,72,5,6,55,70
2,0,0,0,101,15,9,74,23,90,75,...,61,57,99,93,25,78,23,24,63,76
3,0,0,0,0,104,98,47,98,69,48,...,94,94,40,14,96,51,98,99,96,44
4,0,0,0,0,0,8,77,26,93,78,...,64,60,102,96,28,81,26,27,66,79
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,74,75,69,15
96,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,56,71
97,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,57,72
98,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,66
99,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [3]:
X=df.to_numpy()

### MST using Scipy

In [4]:
from scipy.sparse import csr_matrix
from scipy.sparse.csgraph import minimum_spanning_tree

In [5]:
Tcsr = minimum_spanning_tree(X)

In [6]:
mst=Tcsr.toarray().astype(int)

In [7]:
data=pd.DataFrame(mst)
data.to_csv('mst.csv')

### Maximum Flow using Scipy

In [8]:
from scipy.sparse import csr_matrix
from scipy.sparse.csgraph import maximum_flow

In [9]:
from scipy import sparse
coo = sparse.coo_matrix(df)
csr = coo.tocsr()

In [10]:
#maximum_flow(csr, 0, 5).flow_value

In [11]:
s=csr.shape

In [12]:
row=[]
max_flow=[]
for i in range(1,s[0],1):
    row.append(i)
    max_flow.append(maximum_flow(csr, 0, i).flow_value)

In [13]:
rank=[]
for i in range(1,100,1):
    rank.append(i)

In [14]:
mf=pd.DataFrame(list(zip(row,max_flow)), columns =['Sink','Flow'])
mf1=mf.sort_values(by='Flow')

In [15]:
mf1['Rank']=rank
mf1

    Sink  Flow  Rank
0      1    91     1
1      2   118     2
4      5   227     3
3      4   243     4
2      3   258     5
..   ...   ...   ...
96    97  5370    95
87    88  5577    96
82    83  5882    97
92    93  6385    98
91    92  6558    99

[99 rows x 3 columns]

In [16]:
mf1.to_csv('maxflow.csv')

### MST Script

In [17]:
INF = float('inf')
y = df.replace(0,'INF')
y

,0,1,2,3,4,5,6,7,8,9,...,90,91,92,93,94,95,96,97,98,99
0,INF,91,94,73,97,91,39,92,14,40,...,82,82,73,65,90,43,92,93,84,41
1,INF,INF,24,97,27,21,68,5,87,69,...,53,49,95,89,3,72,5,6,55,70
2,INF,INF,INF,101,15,9,74,23,90,75,...,61,57,99,93,25,78,23,24,63,76
3,INF,INF,INF,INF,104,98,47,98,69,48,...,94,94,40,14,96,51,98,99,96,44
4,INF,INF,INF,INF,INF,8,77,26,93,78,...,64,60,102,96,28,81,26,27,66,79
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,INF,INF,INF,INF,INF,INF,INF,INF,INF,INF,...,INF,INF,INF,INF,INF,INF,74,75,69,15
96,INF,INF,INF,INF,INF,INF,INF,INF,INF,INF,...,INF,INF,INF,INF,INF,INF,INF,1,56,71
97,INF,INF,INF,INF,INF,INF,INF,INF,INF,INF,...,INF,INF,INF,INF,INF,INF,INF,INF,57,72
98,INF,INF,INF,INF,INF,INF,INF,INF,INF,INF,...,INF,INF,INF,INF,INF,INF,INF,INF,INF,66
99,INF,INF,INF,INF,INF,INF,INF,INF,INF,INF,...,INF,INF,INF,INF,INF,INF,INF,INF,INF,INF

In [18]:
y = df.values.tolist()
type(y)

list

In [19]:
INF = float('inf')
for i in range(len(y)):
    for j in range(len(y)):
        if y[i][j] == 0:
            y[i][j] = INF
#y

In [20]:
# Python implementation for Kruskal's
# algorithm

# Find set of vertex i
def find(i):
	while parent[i] != i:
		i = parent[i]
	return i

# Does union of i and j. It returns
# false if i and j are already in same
# set.
def union(i, j):
	a = find(i)
	b = find(j)
	parent[a] = b

# Finds MST using Kruskal's algorithm
def kruskalMST(cost):
	mincost = 0 # Cost of min MST

	# Initialize sets of disjoint sets
	for i in range(V):
		parent[i] = i

	# Include minimum weight edges one by one
	edge_count = 0
	while edge_count < V - 1:
		min = INF
		a = -1
		b = -1
		for i in range(V):
			for j in range(V):
				if find(i) != find(j) and cost[i][j] < min:
					min = cost[i][j]
					a = i
					b = j
		union(a, b)
		print('Edge {}:({}, {}) cost:{}'.format(edge_count, a, b, min))
		edge_count += 1
		mincost += min

	print("Minimum cost= {}".format(mincost))



V = 100
parent = [i for i in range(V)]
INF = float('inf')

 
# Print the solution
kruskalMST(y)

Edge 0:(15, 29) cost:1
Edge 1:(15, 36) cost:1
Edge 2:(15, 54) cost:1
Edge 3:(15, 58) cost:1
Edge 4:(15, 82) cost:1
Edge 5:(29, 56) cost:1
Edge 6:(29, 65) cost:1
Edge 7:(35, 84) cost:1
Edge 8:(96, 97) cost:1
Edge 9:(15, 18) cost:2
Edge 10:(15, 61) cost:2
Edge 11:(15, 74) cost:2
Edge 12:(15, 76) cost:2
Edge 13:(15, 80) cost:2
Edge 14:(15, 86) cost:2
Edge 15:(1, 94) cost:3
Edge 16:(7, 17) cost:3
Edge 17:(9, 38) cost:3
Edge 18:(9, 85) cost:3
Edge 19:(14, 27) cost:3
Edge 20:(15, 47) cost:3
Edge 21:(15, 49) cost:3
Edge 22:(15, 77) cost:3
Edge 23:(17, 34) cost:3
Edge 24:(17, 94) cost:3
Edge 25:(17, 96) cost:3
Edge 26:(20, 46) cost:3
Edge 27:(22, 30) cost:3
Edge 28:(35, 81) cost:3
Edge 29:(72, 75) cost:3
Edge 30:(2, 20) cost:4
Edge 31:(15, 37) cost:4
Edge 32:(15, 43) cost:4
Edge 33:(15, 90) cost:4
Edge 34:(17, 25) cost:4
Edge 35:(22, 27) cost:4
Edge 36:(33, 35) cost:4
Edge 37:(35, 60) cost:4
Edge 38:(9, 11) cost:5
Edge 39:(15, 53) cost:5
Edge 40:(15, 73) cost:5
Edge 41:(17, 69) cost:5
Edge 42:(41, 68) cost:5
Edge 43:(55, 74) cost:5
Edge 44:(2, 57) cost:6
Edge 45:(6, 50) cost:6
Edge 46:(15, 48) cost:6
Edge 47:(15, 98) cost:6
Edge 48:(17, 33) cost:6
Edge 49:(22, 92) cost:6
Edge 50:(26, 89) cost:6
Edge 51:(39, 40) cost:6
Edge 52:(39, 93) cost:6
Edge 53:(50, 85) cost:6
Edge 54:(50, 89) cost:6
Edge 55:(89, 99) cost:6
Edge 56:(9, 42) cost:7
Edge 57:(12, 50) cost:7
Edge 58:(13, 89) cost:7
Edge 59:(15, 63) cost:7
Edge 60:(17, 24) cost:7
Edge 61:(17, 87) cost:7
Edge 62:(31, 39) cost:7
Edge 63:(44, 89) cost:7
Edge 64:(45, 50) cost:7
Edge 65:(4, 5) cost:8
Edge 66:(5, 32) cost:8
Edge 67:(5, 88) cost:8
Edge 68:(8, 64) cost:8
Edge 69:(15, 41) cost:8
Edge 70:(24, 70) cost:8
Edge 71:(26, 79) cost:8
Edge 72:(2, 5) cost:9
Edge 73:(5, 59) cost:9
Edge 74:(8, 66) cost:9
Edge 75:(21, 64) cost:9
Edge 76:(5, 16) cost:10
Edge 77:(17, 67) cost:10
Edge 78:(19, 66) cost:10
Edge 79:(50, 95) cost:10
Edge 80:(0, 19) cost:11
Edge 81:(10, 50) cost:12
Edge 82:(17, 78) cost:12
Edge 83:(28, 50) cost:12
Edge 84:(50, 71) cost:12
Edge 85:(50, 72) cost:13
Edge 86:(3, 31) cost:14
Edge 87:(23, 79) cost:14
Edge 88:(15, 91) cost:16
Edge 89:(22, 83) cost:16
Edge 90:(23, 62) cost:17
Edge 91:(51, 79) cost:17
Edge 92:(5, 17) cost:19
Edge 93:(50, 52) cost:19
Edge 94:(22, 31) cost:28
Edge 95:(21, 50) cost:30
Edge 96:(31, 89) cost:33
Edge 97:(11, 53) cost:45
Edge 98:(17, 91) cost:47
Minimum cost= 782

### Maximum Flow using script

In [21]:
from collections import defaultdict


class Graph:
    #X=df.to_numpy()
    def __init__(self, graph):
        self.graph = graph
        self. ROW = len(graph)


    # Using BFS as a searching algorithm 
    def searching_algo_BFS(self, s, t, parent):

        visited = [False] * (self.ROW)
        queue = []

        queue.append(s)
        visited[s] = True

        while queue:

            u = queue.pop(0)

            for ind, val in enumerate(self.graph[u]):
                if visited[ind] == False and val > 0:
                    queue.append(ind)
                    visited[ind] = True
                    parent[ind] = u

        return True if visited[t] else False

    # Applying fordfulkerson algorithm
    def ford_fulkerson(self, source, sink):
        parent = [-1] * (self.ROW)
        max_flow = 0

        while self.searching_algo_BFS(source, sink, parent):

            path_flow = float("Inf")
            s = sink
            while(s != source):
                path_flow = min(path_flow, self.graph[parent[s]][s])
                s = parent[s]

            # Adding the path flows
            max_flow += path_flow

            # Updating the residual values of edges
            v = sink
            while(v != source):
                u = parent[v]
                self.graph[u][v] -= path_flow
                self.graph[v][u] += path_flow
                v = parent[v]

        return max_flow




g = Graph(X)

In [22]:
sink=[]
max_fl=[]
for i in range(1,s[0],1):
    sink.append(i)
    max_fl.append(g.ford_fulkerson(0, i))

In [23]:
maxflow=pd.DataFrame(list(zip(sink,max_flow)), columns =['Sink','Flow'])
maxflow1=maxflow.sort_values(by='Flow')

In [24]:
maxflow1['Rank']=rank
maxflow1

    Sink  Flow  Rank
0      1    91     1
1      2   118     2
4      5   227     3
3      4   243     4
2      3   258     5
..   ...   ...   ...
96    97  5370    95
87    88  5577    96
82    83  5882    97
92    93  6385    98
91    92  6558    99

[99 rows x 3 columns]

In [25]:
maxflow1.to_csv('maxfl_sc.csv')